
form {
    display: block;
    padding: 30px;
}
body {
    text-align: center;
}
img {
    display: block;
    margin-right: auto;
    width: 80px;
    padding: 15px;
}
.textInput {
    display: block;
    margin: auto;
    border-radius: 75px;
    padding: 12px;
    border: 1px solid lightgrey;
    width: 40%;
}

.textInput:focus {
    border:blue;
}
h3 {
    font-family: sans-serif;
    color: orangered;
    text-align: left;
    padding-left: 40px;
    font-weight: lighter;
}
h4 {
    font-family: sans-serif;
    color: grey;
    text-align: left;
    font-weight: lighter;
    padding-left: 40px;
}