
form {
    display: block;
    padding: 30px;
}
body {
    text-align: center;
}
img {
    display: block;
    margin-right: auto;
    width: 80px;
}
.textInput {
    display: block;
    margin: auto;
    border-radius: 75px;
    padding: 12px;
    border: 1px solid lightgrey;
    width: 40%;
}
.textInput:hover {
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.textInput:focus {
    border:none;
}
input[type="text"] {
    background: url(eye.png) no-repeat scroll 1px -9px;
    padding-left: 50px;
}

.lnk {
    font-family: sans-serif;
    text-align: right;
    padding-right: 15px;
    color:rgb(0,0,0,.87);
    text-decoration: none;
    float: right;
}
.lnk:hover {
    text-decoration: underline;
}