
form {
    display: inline-block;
    padding-left: 40px;
    font-family: sans-serif;
    float: left;
    margin: auto;

}
body {
    text-align: center;
}
img {
    display: block;
    margin-right: auto;
    width: 80px;
    padding: 15px;
}


h3 {
    font-family: sans-serif;
    color: rgba(255, 68, 0, 0.849);
    text-align: left;
    padding-left: 40px;
    font-weight: lighter;
}
h4 {
    font-family: sans-serif;
    color: rgb(74, 74, 74);
    text-align: left;
    font-weight: lighter;
    padding-left: 40px;
}
hr {
    background-color: rgb(208, 208, 208);
    height: 1px;
    border:none;
}
label {
    display: inline-block;
    width: 200 px;
    float: left;
    margin: auto;
}
input {
    display: inline-block;
    width: 500px;
    float: right;
   margin:12px;
}